*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 30px;
    margin-left: 10%;
    margin-top: 20px;
    padding: 15px;
    background-color: #f7f7f7;
    width: 700px;
    height: 300px;
}



textarea{
    width: 300px;
    height: 150px;
    padding: 5px;
    font-size: 20px;
}

input[type="button"]{
    position: absolute;
    top: 33%;
    width: 200px;
    height: 35px;
}