@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    text-align: left;
    margin: 43px 0px 0px 8%;
    padding-left: 10px;
    border-left: 7px solid #231942;
}

body{
    background-color: #fcfcfc;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    margin: 4% 0px 0px 8%;
    background-color: #ffff;
    padding: 8px;
    width: 70vw;
    height: 47vh;
    border: 1px solid #00000018;
}

.box-msg{
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 15px;
}

textarea{
    width: 400px;
    height: 170px;
    padding: 8px;
    font-size: 17px;
}

input[type="button"]{
    background-color: #231942;
    color: #ffff;
    font-family: 'Work sans', Arial, Helvetica, sans-serif;
    border: none;
    width: 130px;
    height: 35px;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px;
}

label{
    font-family: 'Work sans', Arial, Helvetica, sans-serif;
}
/*Mobile*/
@media screen and (max-width:768px){
    .container{
        display: flex;
        flex-direction: column;
        gap: 8%;
        align-items: center;
        height: 90vh;
        width: 90vw;
        margin: 22px 0px 0px 4%;
    }

    textarea{
        width: 300px;
        height: 210px;
    }

    h1{
        font-family: 'Work Sans', Arial, Helvetica, sans-serif;
        text-align: left;
        margin: 22px 0px 0px 4%;
        padding-left: 10px;
        border-left: 7px solid #231942;
    }

    input[type="button"]{
        width: 100%;
        height: 47px;
        background-color: #231942;
        color: #ffff;
        margin: auto;
        margin-top: 6%;
        font-family: 'Work sans', Arial, Helvetica, sans-serif;
        border: none;
        cursor: pointer;
        border-radius: 2px;
        padding: 5px;
    }
}