*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
    margin-top: 5%;
    background-color: #fcfcfc;
    padding: 15px;
    width: 65vw;
    border: 1px solid #0000002d;
}

.container_msg{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea{
    width: 300px;
    height: 200px;
    padding: 5px;
    font-size: 17px;
}

input[type="button"]{
    background-color: #F19A3E;
    border: 1px solid #0000005b;
    width: 200px;
    height: 35px;
}

label{
    margin: 5px;
}